.startForm {
    font-family: Helvetica, Arial, sans-serif;
    margin: 10px;
}

.options {
    padding: 5px 0px;
}

.radioButton {
    margin-right: 10px;
}

.startButton {
    display: flex;
    justify-content: space-around;
    padding-bottom: 4px;
    padding-top: 11px;
}