.startForm {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 10px;
}

.options {
    padding: 5px 0px;
}

.radioButton {
    margin-right: 10px;
}

.buttonPanel {
    display: flex;
    justify-content: space-around;
    padding-bottom: 4px;
    padding-top: 11px;
}

.buttonPanel button {
    font-family: inherit;
    font-size: 15px;
    padding: 5px;
    border-radius: 3px;
}